html {
  height: 100%;
  width: 100%;
}

.titulo {
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.btn btn-info {
  text-align: center;
}

a link-ubicacion {
  text-decoration: none;
}


.text-section-body {
  margin-left: 20px;
  margin-right: 20px;
}

img {
  height: 50%;
  width: 50%;
}

.card-body {
  text-align: center;
}


.card-text-decripcion {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

.text-description {
  text-align: justify;
}

.img_central {
  width: 100%;
  height: 100%;
}


.img-center-control-2 {
  text-align: right;
}

.img-center-control-3 {
  text-align: center;
}

.text-cente {
  text-align: center;
}

.img-center {
  text-align: center;
}

.card-img {
  text-align: center;
}


.footer-index {
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
}

footer {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}

.footer-link img {
  block-size: 32px;
  inline-size: 32px;
}

.fondo img {
  width: 50%;
  height:50%;
}


.img {
  height: 50px;
  width: 50px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.btns {
text-align: center;
}

.btn-group {
  margin-bottom:20px;
}

.btn-success {
  width: 150px;
  box-sizing: border-box;
}

.btn-warning {
  width: 150px;
  box-sizing: border-box;

}

.pie_accesos-index {
  color: black;
}

.pie_accesos {
  color: white;
}

.pie_center {
  text-align: center;
}